* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
*::selection{
   background-color: var(--main-color);
   color: white;
}
:root {
   --main-color: #2196f3;
   --main-color-alt: #1787e0;
   --main-transition: 0.3s;
   --main-padding-top: 100px;
   --main-padding-bottom: 100px;
   --section-background: #ececec;
}
body{
   font-family: "Cairo", sans-serif;
}
html{
   scroll-behavior: smooth;
}
ul{
   list-style: none;
   margin: 0;
   padding: 0;
}
a {
   text-decoration: none;
}
.container{
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}
/* Small */
@media (min-width: 768px){
   .container{
      width: 750px;
   }
}
/* Small */
@media (min-width: 768px){
   .container{
      width: 750px;
   }
}
/* medium */
@media (min-width: 992px){
   .container{
      width: 970px;
   }
}
/* large */
@media (min-width: 1200px){
   .container{
      width: 1170px;
   }
}
/* End Global Rules */
/* Start Components */
h2.main-heading{
   text-transform: uppercase;
   font-size: 30px;
   width: -moz-fit-content;
width: fit-content;
   font-weight: bold;
   border: 2px solid black;
   margin: 0 auto 80px;
   position: relative;
   padding: 10px 20px;
   transition: var(--main-transition);
   z-index: 100;
}
h2.main-heading:hover{
   border-color: white;
   color: #fff;
   transition-delay: .5s;
}
h2.main-heading:hover::before{
   animation: heading-left .5s linear forwards;
}
h2.main-heading:hover::after{
   animation: heading-right .5s linear forwards;
}
h2.main-heading::before,
h2.main-heading::after{
   content: '';
   width: 12px;
   height: 12px;
   background-color: var(--main-color ,--main-color-alt);
   border-radius: 50%;
   top: calc(50% - 6px);
   position: absolute;
   z-index: -1;
}
h2.main-heading::before{
   left: -30px;
}
h2.main-heading::after{
   right: -30px;
}
.spicks{
   width: 0;
   height: 0;
   background: linear-gradient(70deg , white 25% , transparent 25%);
}
.dots-up{
   position: absolute;
   width: 204px;
   height: 186px;
   right: 0px;
   top: 200px;
   background: radial-gradient(var(--main-color) 24%, #fff 24%);
   background-size: 17px 17px;
   background-position: 0 0;
   z-index: -1;
}
.dots-down{
   position: absolute;
   width: 204px;
   height: 186px;
   left: 0px;
   bottom: 200px;
   background: radial-gradient(var(--main-color) 24%, #fff 24%);
   background-size: 17px 17px;
   background-position: 0 0;
   z-index: -1;
}
/* End Components */

/* Start Header */

header{
   position: relative;
   -moz-box-shadow: 0 0 10px #ddd;
   -webkit-box-shadow: 0 0 10px #ddd;
   box-shadow: 0 0 10px #ddd;
}
header .container{
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header .container a.logo{
   color: var(--main-color);
   font-weight: bold;
   font-size: 26px;
   padding: 21.05px 0;
}
header .container .links{
   display: flex;
}
header .container .links > li > a{
   padding: 25px 30px;
   display: block;
   transition: var(--main-transition);
   position: relative;
   color: black;
   font-size: 18px;
   overflow: hidden;
}
header .container .links > li > a::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 4px;
   background-color: var(--main-color , --main-color-alt);
   right: 100%;
   top: 0;
   transition: var(--main-transition)
}
header .container .links > li > a:hover{
   background-color: #fafafa;
}
header .container .links > li > a:hover::before{
   right: 0;
}
@media (max-width: 767px) {
   header .container{
      flex-direction: column;
   }
   header .container a.logo{
      padding: 12px 0;
   }
   header .container .links > li > a{
      padding: 10px;
      font-size: 14px;
   }
}
header .container .mega-menu{
   position: absolute;
   width: 100%;
   top: calc(100% + 50px);
   z-index: -1;
   opacity: 0;
   display: flex;
   justify-content: space-between;
   padding: 30px;
   gap: 40px;
   left: 0;
   border-bottom: 4px solid var(--main-color , --main-color-alt);
   transition: var(--main-transition);
   background-color: #fff;
}
header .container .links > li:last-of-type:hover .mega-menu{
   opacity: 1;
   top: 100%;
   z-index: 100;
}
header .container .mega-menu ul li{
   position: relative;
   overflow: hidden;
}
header .container .mega-menu ul li:not(:last-child){
   border-bottom: 1px #e9e6e6 solid;
}
header .container .mega-menu ul li::before{
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   left: -100%;
   top: 0;
   background-color: #fafafa;
   z-index: -1;
   transition: var(--main-transition);
}
header .container .mega-menu ul li:hover::before{
   left: 0;
}
header .container .mega-menu ul li a{
   text-decoration: none;
   display: block;
   color: var(--main-color , --main-color-alt);
   font-weight: bold;
   font-size: 18px;
   width: 100%;
   height: 100%;
   padding: 15px 20px;
}
header .container .mega-menu ul li a i{
   margin-right: 10px;
}
/* End Header */
/* Start Landing */
.landing {
   height: 100vh;
   position: relative;
}
.landing .container{
   height: calc(100% - 72px);
   padding-bottom: 120px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.landing::before{
   content: '';
   position: absolute;
   z-index: -1;
   top: 0px;
   left: 0;
   width: 100%;
   height: calc(100% - 52px);
   background: linear-gradient(-6deg , transparent 25% ,#ececec 25%);
}
.landing .container .text{
   flex: 1;
}
.landing .container .text h1{
   font-size: 40px;
   margin: 0;
   letter-spacing: -2px;
}
.landing .container .text p{
   line-height: 1.7;
   margin: 5px 0 0;
   color: #666;
   font-size: 23px;
   max-width: 500px;
}
.landing .container img{
   max-width: 600px;
   position: relative;
   animation-name: up-and-down;
   animation-duration: 4s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}
@media (max-width: 991px) {
   .landing .container img{
      display: none;
   }
   .landing .container .text{
      text-align: center;
   }
   .landing .container .text p{
   margin: 10px auto;
   }
}
@media (max-width: 767px) {
   .landing .container .text h1{
      font-size: 28px;
   }
   .landing .container .text p{
      font-size: 18px;
   }
}
.landing .container .down-arrow {
   position: absolute;
   left: calc(50% - 17.5px);
   bottom: 100px;
   color: var(--main-color , --main-color-alt);
   font-size: 28px;
   animation: bouncing 1.5s infinite;
}
/* End Landing */
/* Start Articles */
.articles {
   padding-top: var(--main-padding-top);
   padding-bottom: var(--main-padding-bottom);
}
.articles .container{
   display: grid;
   grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
   gap: 40px;
}
.articles .container .box{
   border-radius: 6px;
   overflow: hidden;
   box-shadow: 0 0 15px rgba(0, 0, 0, 10%);
   position: relative;
   transition: all var(--main-transition);
}
.articles .container .box:hover{
   transform: translateY(-15px);
   box-shadow: 0 0 15px rgba(0, 0, 0, 20%);
}
.articles .container .box img{
   width: 100%;
}
.articles .container .box .text{
   padding: 20px;
   border-bottom: 1px solid #ece6e6;
}
.articles .container .box .text h3{
   margin: 0;
}
.articles .container .box .text p{
   margin: 10px 0 0;
   color: #777;
   line-height: 1.5;
}
.articles .container .box .more {
   display: flex;
   width: 100%;
   justify-content: space-between;
   padding: 20px;
   color: var(--main-color, --main-color-alt);
   font-weight: bold;
}
.articles .container .box .more a{
   text-decoration: none;
   color: var(--main-color, --main-color-alt);
}
/* End Articles */



/* Start Gallery */
.gallery {
   padding-top: var(--main-padding-top);
   padding-bottom: var(--main-padding-bottom);
   background-color: var(--section-background);
}
.gallery .container {
   display: grid;
   grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
   gap: 40px;
}
.gallery .container .box{
   box-shadow: 0 0 15px rgb(0 0 0 / 10%);
   padding: 20px;
   background-color: #fff;
   position: relative;
   overflow: hidden;
}
.gallery .container .box .image{
   overflow: hidden;
}
.gallery .container .box img{
   width: 100%;
   transition: var(--main-transition);
}
.gallery .container .box .image:hover img{
   transform: scale(1.1) rotate(5deg);
}
.gallery .container .box .image:hover::before{
   animation: popup .7s linear forwards;
}
.gallery .container .box .image::before{
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgb(255 255 255 / 20%);
   width: 0;
   height: 0;
   opacity: 0;
   z-index: 2;
}

/* End Gallery */

/* Start Features */

.features{
   padding-top: var(--main-padding-top);
   padding-bottom: var(--main-padding-bottom);
}
.features .container {
   display: grid;
   grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
   gap: 40px;
}
.features .container .box{
   border: 1px solid #cccccc;
}
.features .container .box:hover a{
   background-position: left center;
   color: #fff;
}
.features .container .box:first-of-type{
   --color: #f44036;
}
.features .container .box:nth-of-type(2){
   --color: #009688;
}
.features .container .box:last-of-type{
   --color: #03a9f4;
}
.features .container .box .img{
   position: relative;
   overflow: hidden;
}
.features .container .box .img::before{
   content: "";
   width: 100%;
   height: 99.5%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: var(--color);
   opacity: .5;
   z-index: 100;
}
.features .container .box .img::after{
   content: "";
   position: absolute;
   bottom: 0px;
   border-style: solid;
   z-index: 100;
   right: 0;
   border-color: transparent transparent white transparent;
   transition: var(--main-transition);
   border-width: 0px 0px 170px 550px;
}
.features .container .box:hover .img::after{
   border-width: 170px 500px 170px 0;
}
.features .container .box img{
   width: 100%;
}
.features .container .box .text{
   text-align: center;
}
.features .container .box .text h2{
   font-size: 40px;
   margin: 0 auto;
   text-transform: capitalize;
   width: -moz-fit-content;
width: fit-content;
   position: relative;
}
.features .container .box .text h2::after{
   content: "";
   width: 60%;
   height: 5px;
   background-color: var(--color);
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: -20px;
}
.features .container .box .text p{
   padding: 25px;
   margin: 30px 0;
   line-height: 2;
   color: #777;
   font-size: 20px;
}
.features .container .box a{
   display: block;
   padding: 10px 30px;
   font-size: 22px;
   font-weight: bold;
   color: var(--color);
   margin: 0 auto 30px;
   width: -moz-fit-content;
   width: fit-content;
   border: 4px solid var(--color);
   border-radius: 6px;
   background: linear-gradient(to right , var(--color) 50% ,  white 50%);
   background-size: 200% 100%;
   background-position: right center;
   transition: var(--main-transition);
}
@media (max-width: 767px){
   .features .container .box .img::after{
      display: none;
   }
}
/* End Features */

/* Start Testemonial */

.testemonials{
   padding-top: var(--main-padding-top);
   padding-bottom: var(--main-padding-bottom);
   background-color: var(--section-background);
}
.testemonials .container{
   display: grid;
   grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
   gap: 40px;
}
.testemonials .container .box{
   position: relative;
   box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
   padding: 20px;
   text-align: center;
   background-color: #fff;
   border-radius: 6px;
}
.testemonials .container .box img{
   position: absolute;
   width: 100px;
   border-radius: 50%;
   border: var(--section-background) solid 10px;
   top: -50px;
   right: -10px;
}
.testemonials .container .box h3{
   margin: 0;
   text-transform: capitalize;
}
.testemonials .container .box span{
   display: block;
   color: #777;
   text-transform: capitalize;
   margin: 10px 0;
}
.testemonials .container .box .rate i{
   color: #ffc107;
}
.testemonials .container .box .rate i[class="far fa-star"] {
   color: black;
}
.testemonials .container .box p{
   line-height: 1.5;
   color: #777;
   margin: 10px 0 0;
}
/* End Testemonial */

/* Start Team-Members */
.team-members {
   padding-top: var(--main-padding-top);
   padding-bottom: var(--main-padding-bottom);
}
.team-members .container{
   display: grid;
   grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
   gap: 40px;
}
.team-members .container .box{
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 50px 0 100px;
   overflow: hidden;
}
.team-members .container .box::after{
   content: '';
   height: 100%;
   width: calc(100% - 60px);
   position: absolute;
   right: 0;
   top: 0;
   background-color: #f3f3f3;
   z-index: -2;
   border-radius: 6px;
}
.team-members .container .box::before{
   content: '';
   height: 100%;
   width: calc(100% - 60px);
   position: absolute;
   right: -100%;
   top: 0;
   background-color: #e4e4e4;
   z-index: -1;
   border-radius: 6px;
   transition: var(--main-transition);
}
.team-members .container .box:hover::before{
   right: 0;
}
.team-members .container .box img{
   width: calc(100% - 60px);
   border-radius: 6px;
   transition: var(--main-transition);
}
.team-members .container .box:hover img{
   filter: grayscale(1);
}
.team-members .container .box .icons{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 30px;
   align-items: center;
   width: 60px;
}
.team-members .container .box .icons a{
   color: #777;
   transition: var(--main-transition);
}
.team-members .container .box .icons a:hover{
   color: var(--main-color , --main-color-alt);
}
.team-members .container .box .info{
   padding: 10px 25px;
   position: absolute;
   bottom: 0;
   left: 60px;
}
.team-members .container .box .info h3{
   color: var(--main-color , --main-color-alt);
   font-weight: bold;
   font-size: 22px;
   text-transform: capitalize;
   margin: 0;
   transition: var(--main-transition);
}
.team-members .container .box:hover .info h3{
   color: #777;
}
.team-members .container .box .info p{
   margin-top: 10px;
}

/* End Team-Members */

/* Start Services */

.services {
   padding-top: var(--main-padding-top);
   padding-bottom: var(--main-padding-bottom);
   background: var(--section-background);
}
.services .container{
   display: grid;
   grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
   gap: 40px;
   text-align: center;
}
.services .container .box{
   background-color: #fff;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   color: var(--main-color , --main-color-alt);
   box-shadow:0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
   counter-increment: services;
   transition: var(--main-transition);
}
.services .container .box:hover{
   transform: translateY(-15px);
   box-shadow:0 12px 20px 0 rgb(0 0 0 / 20%), 0 2px 4px 0 rgb(0 0 0 / 15%);
}
.services .container .box::before{
   content: '';
   position: absolute;
   width: 0;
   height: 4px;
   background-color: var(--main-color , --main-color-alt);
   top: 0;
   left: 50%;
   transition: var(--main-transition);
}
.services .container .box:hover::before{
   width: 100%;
   left: 0;
}
.services .container .box .icon{
   padding: 30px 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 25px;
}
.services .container .box .icon i{
   color: #d5d5d5;
}
.services .container .box .icon h3{
   margin: 0;
   font-size: 25px;
   text-transform: capitalize;
   font-weight: bold;
}
.services .container .box .foot{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   position: relative;
}
.services .container .box .foot::before{
   content: counters(services, ".", decimal-leading-zero);
   background-color: var(--main-color, --main-color-alt);
   color: white;
   position: absolute;
   left: 0;
   height: 100%;
   width: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   font-weight: 800;
   padding-right: 30px;
}
.services .container .box .foot::after{
   content: "";
   position: absolute;
   background: #d5d5d5;
   transform: skewx(-30deg);
   height: 100%;
   width:50px;
   left: 75px;
}
.services .container .box .foot a{
   display: block;
   text-decoration: none;
   color: var(--main-color , --main-color-alt);
   padding: 15px 20px;
}
/* End Services */

/* Start Skills */

.skills{
   padding-top: var(--main-padding-top);
   padding-bottom: var(--main-padding-bottom);
}
.skills .container{
   display: flex;
   justify-content: space-between;
   align-self: center;
}
.skills .container img{
   max-width: 40%;
}
.skills .container .stats{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   width: 60%;
}
.skills .container .stats .bar{
   width: 100%;
}
.skills .container .stats .bar h3{
   
}
.skills .container .stats .bar .progress{
   height: 30px;
   background: #eee;
   position: relative;
}
.skills .container .stats .bar .progress::after{
   content: attr(data-progress);
   position: absolute;
   right: 0;
   top: -35px;
   font-size: 12px;
   padding: 3px 8px;
   border-radius: 4px;
   border: 1px solid #ccc;
   color: var(--main-color, --main-color-alt);
}
.skills .container .stats .bar .progress span{
   display:block;
   height: 100%;
   background-color: var(--main-color , --main-color-alt);
}
@media (max-width: 991px) {
   .skills .container img {
      display: none;
   }
   .skills .container .stats{
      width: 100%;
   }
}
/* End Skills */

/* Start work */

.work{
   padding-top: var(--main-padding-top);
   padding-bottom: var(--main-padding-bottom);
   background-color: var(--section-background);
}
.work .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 100px;
}
.work .container > img{
   max-width: 100%;
}
.work .container .box{
   padding: 30px;
   background-color: #f6f6f6;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
   margin-bottom: 20px;
   border-radius: 4px;
   border: 2px solid white;
   z-index: 1;
   position: relative;
}
.work .container .box::before{
   content: '';
   position: absolute;
   width: 0px;
   height: 0px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   background-color: #ededed;
   z-index: -1;
   transition: var(--main-transition);
}
.work .container .box:hover::before{
   width: 100%;
   height: 100%;
}
.work .container .box img{
   width: 64px;
}
.work .container .box .text h3{
   text-transform: capitalize;
   margin: 0;
   font-size: 22px;
}
.work .container .box .text p{
   color: #777;
   line-height: 1.7;
   font-size: 18px;
   margin: 5px 0 0;
}
@media (max-width:991px){
   .work .container{
      flex-direction: column;
   }
}
/* End work */

/* Start Events */
.events {
   padding-top: var(--main-padding-top);
   padding-bottom: var(--main-padding-bottom);
   position: relative;
}
.events .container{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.events .container .content{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.events .container .content img{
   max-width: 450px;
}
.events .container .content .count-down{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}
.events .container .content .count-down .time{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}
.events .container .content .count-down .time .count{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   border: 1px solid var(--border-count);
   width: 75px;
   border-radius: 4px;
   position: relative;
   text-align: center;
   --border-count: #d4d4d4;
   transition: var(--main-transition);
   background-color: #ffffff99;
}
.events .container .content .count-down .time .count:hover{
   --border-count: var(--main-color);
}
.events .container .content .count-down .time .count span:first-of-type{
   font-weight: bold;
   color: var(--main-color);
   font-size: 35px;
   padding: 15px;
}
.events .container .content .count-down .time .count span:last-of-type{
   padding: 8px 10px;
   font-size: 13px;
   border-top: 1px solid var(--border-count);
   transition: var(--main-transition);
   width: 100%;
   text-transform: capitalize;
}
.events .container .content .count-down h2{
   font-size: 30px;
   margin: 20px 0 0;
}
.events .container .content .count-down p{
   margin: 0;
   line-height: 1.7;
   color: #777;
   font-size: 19px;
   text-align: center;
   background-color: #ffffff99;
}
.events .container .subscribe {
   width: 100%;
   margin: 70px 0 0;
}
.events .container .subscribe form{
   display: flex;
   margin: 0 auto;
   width: 600px;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   background-color: #f6f6f5;
   padding: 30px 40px;
   border-radius: 50px;
}
.events .container .subscribe form *:focus{
   outline: none;
}
.events .container .subscribe form input[type="email"]{
   padding: 20px;
   border: none;
   flex: 1;
   border-radius: 50px;
   caret-color: var(--main-color);
}
.events .container .subscribe form input[type="submit"]{
   padding: 20px;
   background-color: var(--main-color);
   color: white;
   text-transform: capitalize;
   border: none;
   border-radius: 50px;
   font-weight: bold;
   cursor: pointer;
}
@media (max-width: 991px) {
   .events .container .content img{
      display: none;
   }
   .events .container .subscribe form{
      flex-direction: column;
      max-width: 100%;
      border-radius: 0;
   }
   .events .container .subscribe form input[type="email"]{
      width: 100%;
      border-radius: 0;
   }
   .events .container .subscribe form input[type="submit"]{
      width: 100%;
      border-radius: 0;
   }
}
/* End Events */

/* Start Animations */

@keyframes popup {
   30%{
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      opacity: 1;
   }
   100%{
      opacity: 0;
      width: calc(100% - 40px);
      height: calc(100% - 40px);
   }
}
@keyframes bouncing {
   20% {
      transform: translateY(0);
   }
   40%{
      transform: translateY(-15px);
   }
   50%{
      transform: translateY(0);
   }
   60% {
      transform: translateY(-15px);
   }
   80%{
      transform: translateY(0);
   }
}

@keyframes up-and-down{
   0%{
      bottom: 0;
   }
   50% {
      bottom: 50px;
   }
   100%{
      bottom: 0;
   }
}

@keyframes heading-left {
   50%{
      left: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      top: calc(50% - 6px);
   }
   100%{
      left: 0;
      border-radius: 0;
      width: 51%;
      height: 100%;
      top: 0;
   }
}

@keyframes heading-right {
   50%{
      right: 0;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      top: calc(50% - 6px);
   }
   100%{
      right: 0;
      border-radius: 0;
      width: 51%;
      height: 100%;
      top: 0;
   }
}
/* End Animations */